.container .places h1 {
  font-size: 30px;
}
.container .places ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container .places ul li {
  width: 390px;
  padding: 0 20px;
  margin: 15px;
  padding: 20px;
  border: 1px solid #ff5a5f;
  border-radius: var(--border-radius);
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;
}
.container .places ul li article .head h2 {
  font-size: 30px;
  margin: 15px 0;
}

article .head .price_by_night {
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
article .information {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 5px 0;
  height: 80px;
}
article .information .max_guest {
  background-image: url(../images/icon_group.png);
}
article .information .number_rooms {
  background-image: url(../images/icon_bed.png);
}
article .information .number_bathrooms {
  background-image: url(../images/icon_bath.png);
}
article .information .max_guest,
article .information .number_rooms,
article .information .number_bathrooms {
  background-repeat: no-repeat;
  background-position: top center;
  width: 100px;
  padding-top: 40px;
}
article .information h3 {
  text-align: center;
  margin: 8px 0 0 0;
}
article .user {
  padding: 10px 0;
}
