.container .filters {
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
}
.container .filters div {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container .filters div:first-of-type {
  border-right: 1px solid #dddddd;
}

.container .filters h3 {
  font-weight: 600;
  margin: 12px;
}
.container .filters h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
.container .filters .amenities {
  border-right: none;
}
.container .filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  margin-right: 30px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.container .filters button:hover {
  opacity: 90%;
}
