.filters {
  display: flex;
  position: relative;
  width: 100%;
  height: 70px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

.filters .column {
  width: 20%;
  height: 100%;
  position: relative;
}
.filters .column:hover .popover {
  visibility: visible;
  opacity: 1;
}
.filters .column:first-of-type {
  border-right: 1px solid #dddddd;
}
.filters .column .info {
  padding: 0 0 0 20px;
}
.filters .column .info h3 {
  font-weight: 600;
  margin: 12px 0;
}
.filters .column .info h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.filters .column .popover {
  list-style: none;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: var(--border-radius);
  margin: 11px 0;
  padding: 10px 20px;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
}

.filters .column .popover li h2 {
  font-size: 16px;
}
.filters .column .popover li ul {
  list-style: none;
  padding: 0 20px;
}
.filters button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  border: none;
  border-radius: var(--border-radius);
  background-color: #ff5a5f;
  color: #ffffff;
  margin-right: 30px;
  width: 20%;
  height: 48px;
  padding: 0;
  cursor: pointer;
}
.filters button:hover {
  opacity: 90%;
}
